.vagas {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 6rem 0;
    gap: 4rem;
}

.vagas-alinha-centro {
    text-align: center;
}

.vaga-container {
    gap: 1.25rem;
}

.vagas-borda {
    padding: .25rem .75rem;

    background: rgba(142, 36, 36, 0.05);
    border-radius: 16px;

    width: 125px;
}

.vagas__talentos {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    padding: 0 2rem;
    gap: 1rem;
}

.vagas-imagem {
    padding-top: 4rem;
}

/*  Sessão anúncios de vagas  */

.vagas__abertas {
    display: flex;
    flex-direction: column;

    align-items: center;

    padding: 0 2rem;
    gap: 4rem;
}

.vagas-alinhamento {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0;
    gap: 2rem;

    min-width: 768px;
}

.vagas__abertas-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 1.5rem 1.5rem 1.75rem;
    gap: 1.5rem;

    border: 1px solid #EAECF0;
    border-radius: 16px;

    min-width: 768px;
}

.vagas__informacoes {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 1.5rem;
}

/* Titulos e texto da sessão */
.vagas-titulo {
    font-weight: var(--peso-medio);
    font-size: 1.25rem;
    line-height: 1.875rem;

    align-self: flex-start;
}


.vagas-subtitulo {
    font-weight: var(--peso-medio);
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.vagas-texto {
    font-weight: var(--peso-medio);
    font-size: 1rem;
    line-height: 1.5rem;

    gap: .5rem;
}